<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{#    <form action="/04-form/" method="post">#}
{#        {% csrf_token %}#}
{#        <!--解析form对象，以便得到里面的每一个控件-->#}
{#        {% for field in form %}#}
{#            <p>#}
{#            {{ field.label }}:{{ field }}#}
{#            </p>#}
{#        {% endfor %}#}
{#    <p>#}
{#        <input type="submit">#}
{#    </p>#}
{#    </form>#}




    <form action="/04-form/" method="post">
        {% csrf_token %}
{#        {{ form.as_p }}#}
{#        <ul>#}
{#        {{ form.as_ul  }}#}
{#        </ul>#}
    <table>
        {{ form.as_table }}
    </table>
    <p>
        <input type="submit">
    </p>
    </form>
</body>
</html>