<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>标签实现</h3>
    <h3>list:{{ list }}</h3>
    {% for x in list%}
        <p style="background:
        {% if forloop.first %}
            red;
        {% elif forloop.last %}
           yellow;
        {% else %}
           pink;
        {% endif %}"
        >{{x}}</p>
    {% endfor%}





    <h3>str:{{ str }}</h3>
    <h3>num:{{ num }}</h3>
    <h3>tup:{{ tup }}</h3>
    <h3>tup[0]:{{ tup.0 }}</h3>
    <h3>list[2]:{{ list.2 }}</h3>
    <h3>dic:{{ dic }}</h3>
    <h3>dic['BJ']:{{ dic.BJ }}</h3>
    <h3>dog:{{ dog }}</h3>
    <h3>dog.name:{{ dog.name }}</h3>
    <h3>dog.eat():{{ dog.eat }}</h3>
    <h3>ret:{{ ret }}</h3>
</body>
</html>